/var/cache/*
/var/log/*
/var/sessions/*
!/var/cache/.gitkeep
!/var/log/.gitkeep

/vendor/
/node_modules/

.git
.gitignore
.dockerignore
.editorconfig

.env.local
.env.*.local
.phpunit.cache/
.phpunit.result.cache
.php-cs-fixer.cache
phpstan.cache
psalm.cache
